<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Green Tech Blog</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/dashboard"><li>Dashboard</li></a>
            <a href="/" id="logout"><li>Logout</li></a>
        </ul>
    </nav>
    <h1><span>Your Dashboard</span></h1>
</header>

<main>
  {{{body}}}
</main>

<footer class="newPost">
    <a href="/dashboard/create" id="newPost">+ New Post</a> 
</footer>
<script src="/js/logout.js"></script>
</body>
</html>