<div class="centerCards">
    <div class="blogCard">
        <p class="cardQuestion">Create New Post</p>
    </div>
    <form class="log" id="create-form">
        <label class="loginInput" for="title">Title</label>
        <input class="titleInput" type="text" id="title">
        <label class="loginInput" for="content">Content</label>
        <textarea class="commentInput" type="password" id="content"></textarea>
        <button class="loginButton" type="submit" id="createButton">Create</button>
    </form>
</div>

<script src="/js/create.js"></script>