<div class="centerCards">
    <div class="blogCard">
        <p class="cardQuestion">Login</p>
    </div>
    <form class="log" id="login-form">
        <label class="loginInput">Username</label>
        <input class="userInput" type="text" name="usernameField" id="username-login">
        <label class="loginInput">Password</label>
        <input class="userInput" type="password" name="passwordField" id="password-login">
        <button class="loginButton" type="submit" id="loginButton">Login!</button>
        <a href="/signup"><p class="logInstead">Sign up instead</p></a>
    </form>
</div>

<script src="/js/login.js"></script>