<div class="centerCards">
    <div class="blogCard">
        <p class="cardQuestion">Sign Up</p>
    </div>
    <form class="log" id="signup-form">
        <label class="loginInput">Username</label>
        <input class="userInput" type="text" name="usernameField" id="username-signup">
        <label class="loginInput">Password</label>
        <input class="userInput" type="password" name="passwordField" id="password-signup">
        <button class="loginButton" type="submit" id="loginButton">Sign Up!</button>
        <a href="/login"><p class="logInstead">Login instead</p></a>
    </form>
</div>

<script src="/js/signup.js"></script>